name: Hello World!

on:
  push: 
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: |
          echo "Hello World!"
    steps:
      - name: Now it is
        run: |
          ls
    steps:
      - name: Directory content
        run: |
          date
